# Ignore build files
build/
*.o
*.obj
*.exe
*.dll
*.moc

# Qt Creator / IDE
*.pro.user*
*.user
.qtc_clangd/
CMakeLists.txt.user*

# Logs / temporary
*.log
*.tmp
*~

# Generated Qt files
.moc/
.rcc/
.uic/
ui_*.h
moc_*.cpp
qrc_*.cpp

# Misc / editor
*.swp
.DS_Store
Thumbs.db